* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}
.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
}
.navbar {
    background: #222;
    color: #fff;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
}
.nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo {
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
}
.nav-links {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}
.nav-links li a {
    color: #fff;
    text-decoration: none;
    padding: 0 15px;
    flex-wrap: wrap;
}
.nav-links li a:hover {
    color: #00bcd4;
}
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?w=1200');
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}
.hero h1 {
    font-size: 40px;
    margin-bottom: 30px;
}
.btn-main {
    display: inline-block;
    background: #00bcd4;
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;
    border-radius: 50px;
    margin-top: 20px;
}
.grid-destinations {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 100px));
    gap: 20px;
}
.card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: 0.3s;
}
.card:hover {
    transform: translateY(-5px);
}
.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.card-body {
    padding: 20px;
}
.accordion {
    max-width: 800px;
    margin: auto;
}
.accordion-item {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    background: #fff;
}
.accordion-item input {
    display: none;
}
.accordion-item label {
    display: block;
    padding: 15px;
    background: #e6e3e3;
    cursor: pointer;
    font-weight: bold;
}
.accordion-item .content {
    max-height: 0;
    overflow: hidden;
    transition: 0.4s;
    padding: 0 15px;
}
.accordion-item input:checked~.content {
    max-height: 200px;
    padding: 15px;
}
.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
}
.contact-form input,
.contact-form select,
.contact-form textarea {
    margin-bottom: 15px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.contact-form button {
    background: #222;
    color: #fff;
    padding: 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.contact-form button:hover {
    background: #444;
}
footer {
    background: #222;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
    margin-top: 40px;
}